extends layout

block content
<<<<<<< HEAD
  h1 #{title}
    small  - The internet now has your data!
=======
  h1= title

  video(id="local" autoplay="autoplay")

  script(src='/client.js')
>>>>>>> 5d1fd879a59749d742081844ae0d303717b857ad
