body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 small {
	margin-left: 10px;
}

.stupid-images img {
	width: 260px;
	height: 150px;
	float: left;
}